body {
    font-family: sans-serif;
    padding-top: 50px;
}

.content {
    padding-top: 20px;
    padding-bottom: 12px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: white;
}

.page-header {
    margin-top: 0px;
}

.resize-vert {
    resize: vertical;
}

.img-center {
    margin: auto;
}

.caption {
    opacity: 1;
    position: absolute;
    width: 100%;
    bottom: 20px;
    right: 20px;
    text-align: right;
}

.icon-color-warning {
    color: #FF9900;
}

.icon-color-ok {
    color: #33CC00;
}

.page-footer {
    text-align: right;
    color: #888;
    display: none;
}

blockquote {
    background-color: #f7f7f7;
    border-left: 4px solid #428bca;
    border-radius: 6px;
}

h1 {
    font-size: 22pt !important;
}

h2 {
    font-size: 18pt !important;
}

@media screen and (max-width: 767px) {
    body {
        background: none !important;
    }
}
